.boxes {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  gap: 5px;
  position: relative;
}

.line {
  position: absolute;
  background-color: red;
  height: 4px;
  width: 180px;
  animation-duration: 144ms;
}

/* Horizontal Lines */
.line-012 { top: 28px; }
.line-345 { top: 92px; }
.line-678 { top: 157px; }

/* Vertical Lines */
.line-036 {
  transform: rotate(90deg);
  top: 95px;
  left: -64px;
}
.line-147 {
  transform: rotate(90deg);
  top: 95px;
  left: 0px;
}
.line-258 {
  transform: rotate(90deg);
  top: 95px;
  left: 70px;
}


.line-048 {
  transform: rotate(45deg);
  top: 95px;
  left: -9px;
}
.line-246 {
  transform: rotate(-45deg);
  top: 95px;
  left:-12px;
}